.cart {

    &_container {

        width: $totalWidth1;
        display: flex;
        margin: 0px auto;

    }

    &_products {

        &_list {

            display: flex;
            flex-direction: column;
            gap: 40px;
            padding-top: 96px;
            padding-bottom: 72px;

            &_item {

                display: flex;
                box-shadow: 17px 19px 24px 0px #00000021;

                &_image {
                    width: 262px;
                }

                &_description {
                    width: 300px;
                    margin-left: 31px;
                    margin-top: 22px;

                    &_title {
                        @include Lato400n(24px, 28.8px);
                        color: $contentColor2;
                        margin-bottom: 42px;
                        letter-spacing: 0.8px;
                    }

                    &_text {
                        @include Lato400n(22px, 31px);
                        color: $contentColor7;
                    }

                    &_price {
                        color: $contentColor1;
                    }

                    &_quantity {
                        margin-left: 26px;
                        padding-left: 15px;
                        padding-right: 16px;
                        @include Lato400n(18px);
                        border: 1px solid #EAEAEA;
                    }
                }

                &_delete_button {
                    width: 60px;
                    margin-top: 28px;
                }

            }

        }

        &_buttons {

            display: flex;
            justify-content: space-between;
            margin-bottom: 128px;
            @include Lato400n(14px, 16.8px);

            &_clear {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 235px;
                border: 1px solid #A4A4A4
            }

            &_continue {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 224px;
                height: 50px;
                border: 1px solid #A4A4A4
            }
        }

    }

    &_shipping {

        &_address {

            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 113px;
            margin-left: 128px;

            &_title {
                @include Lato400n(16px);
                color: $contentColor2;
            }

            &_field {
                height: 43px;
                width: 342px;
                display: flex;
                align-items: center;
                padding-left: 16px;
                @include Lato400n(13px);
                color: $contentColor2;
                border: 1px solid #A4A4A4;

            }

            &_button {
                height: 35px;
                width: 86px;
                padding-left: 14px;
                margin-top: 2px;
                display: flex;
                align-items: center;
                @include Lato400n(11px);
                color: $contentColor2;
                border: 1px solid #A4A4A4;
            }

        }

        &_checkout {
            width: 360px;
            height: 214px;
            margin-left: 128px;
            margin-top: 55px;
            background-color: $contentColor3;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &_sub {
                display: flex;
                margin-top: 40px;
                margin-right: 35px;
                @include Lato400n(11px);
                color: $contentColor2;

                &_space {
                    width: 25px;
                }

            }

            &_grand {

                display: flex;
                margin-top: 12px;
                margin-right: 38px;
                @include Lato400n(16px);
                color: $contentColor2;

                &_price {
                    color: $contentColor1;
                }

                &_space {
                    width: 24px;
                }

            }

            &_button {
                width: 273px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include Lato400n(14px);
                letter-spacing: 1.2px;
                color: white;
                background-color: $contentColor1;

                &_container {

                    margin-top: 21px;
                    margin-right: 43px;
                    padding-top: 17px;
                    border-top: 1px solid $contentColor7;
    
                }
            } 

        }
    }

}