.header {
    width: $totalWidth;
    margin: 0px auto;
    background-color: $contentColor2;
    display: flex;
    justify-content: space-between;

    &_left_group {
        margin: 18px auto 19px 231px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 41px;
        height: 38px;

        &_logo {
            height: 38px;
        }

        &_button {
            background: none;
            border: none;
        }


    }

    &_right_group {
        margin: 24px 239px 14px auto;
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 27px;
    
        &_menu {
            background: none;
            border: none;
        }

        &_login {
            margin-right: 14px;
            background: none;
            border: none;
        }

        &_basket {
            position: relative;
            background: none;
            border: none;

            &_count {
                position: absolute;
                right: -10px;
                top: -8px;
                height: 19px;
                width: 19px;
                text-align: center;
                background-color: $contentColor1;
                border-radius: 50%;
                color: $backgroundColor1;
                @include Lato400n(12px);
            
            }

        }
    
    }

}



