.image_slide {
    width: $totalWidth;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 42px;
    background-color: $backgroundColor4;

    &_img {
        margin-left: 23px;
    }
}