.image_slide {
    width: $totalWidth;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding-top: 11px;
    padding-bottom: 53px;
    background-color: #F7F7F7;
    stroke-width: 1px;
    stroke: #eaeaea;
}