.products {
    width: 1140px;
    margin: 96px auto 0px;
}

.products_header3 {
    color: $contentColor2;
    margin-bottom: 6px;
    text-align: center;
    @include Lato400n(30px);
}

.products_subheader {
    color: $contentColor12;
    margin-bottom: 48px;
    text-align: center;
    @include Lato400n(14px);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: $backgroundColor7;
    position: relative;
}

.card_image__selected {
    width: 360px;
    height: 420px;
    position: absolute;
    top: 0px;
    background-color: $backgroundColor8;
    display: none;
    justify-content: center;
    align-items: center;
}

.card:hover .card_image__selected {
    display: flex;
}

.add-to-card-button {
    display: flex;
    align-items: center;
    gap: 11px;
    border-color: $backgroundColor1;
    /* border-width: 2px; */
    background: none;
    padding: 11px 16px 13px 13px;
    color: $backgroundColor1;
    @include Lato400n(14px);
}

.card_header {
    width: 315px;
    color: $contentColor5;
    margin: 20px 18px 0px;
    @include Lato400n(13px);
}

.card_text {
    width: 315px;
    color: $contentColor13;
    margin: 13px 18px;
    @include Lato300n(14px);
}

.card_price {
    width: 315px;
    color: $contentColor1;
    margin: 18px 18px 20px;
    @include Lato400n(16px);
}

.products_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse_all_button {
    width: 212px;
    margin-top: 48px;
    margin-bottom: 60px;
    border: 2px solid $borderColor1;
    background-color: $backgroundColor1;
}

.browse_all_button:hover {
    background-color: $contentColor1;
}

.browse_all_button_text {
    margin: 15px auto;
    color: $contentColor14;
    text-align: center;
    @include Lato400n(16px);
}

.browse_all_button:hover .browse_all_button_text {
    color: $backgroundColor1;
}