.product_description {
    position: relative;
    width: $totalWidth1;
    margin: 0px auto;
    height: 569px;

    &_container {
        width: $totalWidth1;
        // margin: 0px auto;
        background-color: $backgroundColor1;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        position: absolute;
        top: -65px;
    }

    &_small_title {
        margin-top: 65px;
        color: $contentColor1;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include Lato400n(14px, 17px);
    }

    &_divider {
        margin-top: 12px;
        width: 63px;
        height: 3px;
        background-color: $backgroundColor6;
    }

    &_big_title {
        margin-top: 12px;
        margin-right: 2px;
        color: $contentColor7;
        @include Lato400n(18px, 22px);
    }

    &_text {
        margin-top: 48px;
        text-align: center;
        color: $contentColor8;
        letter-spacing: -0.15px;
        @include Lato400n(14px, 17px);
    }

    &_price {
        margin-top: 32px;
        margin-right: 20px;
        text-align: center;
        color: $contentColor9;
        @include Lato400n(24px, 29px);
    }

    &_line {
        width: 642px;
        height: 1px;
        margin-top: 64px;
        background: $contentColor9;
        border: 1px solid #EAEAEA;
    }

    &_selector {
        margin-top: 65px;
        margin-left: 10px;
        display: flex;
        justify-content:center;

        &_text {
            color: $contentColor6;
            letter-spacing: 2px;
            @include Lato400n(14px, 17px);
        }
    }

    &_button {
        margin-top: 48px;
        margin-bottom: 65px;
        width: 212px;
        height: 48px;
        border: 1px solid $contentColor10;
        background-color: $backgroundColor1;
        display: flex;
        align-items: center;
        justify-content:space-between;

        &_logo {
            margin-top: 7px;
            margin-left: 21px;
        }

        &_text {
            margin-right: 55px;
            color: $contentColor11;
            @include Lato400n(16px, 19px);
        }

    }

}