$contentColor1: #f16d7f;
$contentColor2: #222;
$contentColor3: #fbfbfb;
$contentColor4: #636363;
$contentColor5: #000;
$contentColor6: #6f6e6e;
$contentColor7: #4D4D4D;
$contentColor8: #5e5e5e;
$contentColor9: #EF5B70;
$contentColor10: #FF6A6A;
$contentColor11: #F26376;
$contentColor12: #9f9f9f;
$contentColor13: #5d5d5d;
$contentColor14: #f26376;

$backgroundColor1: #fff;
$backgroundColor2: #222224;
$backgroundColor3: #F8F3F4;
$backgroundColor4: #F7F7F7;
$backgroundColor5: #f1e4e6;
$backgroundColor6: #EF5B70;
$backgroundColor7: #f8f8f8;
$backgroundColor8: rgba(58, 56, 56, 0.86);
$backgroundColor9: #e1e1e1;

$borderColor1: #ff6a6a;

$totalWidth: 1600px;
$totalWidth1: 1141px;