$totalWidth: 1600px;
$totalWidth1: 1141px;
$totalTabletWidth: 768px;

$contentColor1: #f16d7f;
$contentColor2: #222;
$contentColor3: #fbfbfb;
$contentColor4: #F1E4E6;
$contentColor5: #000;
$contentColor7: #4D4D4D; 

$transitionDelay: 0.5s;