@import 'vars';

@import 'fonts';

@import 'header';
@import 'main';
@import 'offer';
@import 'products';
@import 'feauture';
@import 'subscribe';
@import 'footer';




* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.body {
    scroll-behavior: smooth;
    background: $backgroundColor1;
}