@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "../fonts/Lato";
  src: url("Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.header {
  width: 1600px;
  margin: 0px auto;
  background-color: #222;
  display: flex;
  justify-content: space-between;
}
.header_left_group {
  margin: 18px auto 19px 231px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 41px;
  height: 38px;
}
.header_left_group_logo {
  height: 38px;
}
.header_left_group_button {
  background: none;
  border: none;
}
.header_right_group {
  margin: 24px 239px 14px auto;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 27px;
}
.header_right_group_menu {
  background: none;
  border: none;
}
.header_right_group_login {
  margin-right: 14px;
  background: none;
  border: none;
}
.header_right_group_basket {
  position: relative;
  background: none;
  border: none;
}
.header_right_group_basket_count {
  position: absolute;
  right: -10px;
  top: -8px;
  height: 19px;
  width: 19px;
  text-align: center;
  background-color: #f16d7f;
  border-radius: 50%;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_logo {
  width: 1600px;
  margin: 0px auto;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-menu {
  width: 232px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fbfbfb;
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding: 32px;
}

.main-menu_header1 {
  display: block;
  margin-bottom: 24px;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-menu_header2 {
  display: block;
  margin-top: 20px;
  margin-bottom: 12px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-menu_item {
  display: block;
  margin-left: 22px;
  margin-top: 11px;
  margin-bottom: 11px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_banner {
  margin: 290px 331px 381px 63px;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.main_logo_header1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.main_logo_header2 {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_logo_span {
  color: #f16d7f;
}

.offer {
  width: 1140px;
  margin: 65px auto 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.offer_for_men_background {
  width: 360px;
  height: 260px;
  background-image: url(../img/offer_for_men.webp);
}

.offer_for_women_background {
  width: 360px;
  height: 260px;
  background-image: url(../img/offer_for_women.webp);
}

.offer_for_kids_background {
  width: 360px;
  height: 260px;
  background-image: url(../img/offer_for_kids.webp);
}

.offer_accesories_background {
  width: 1140px;
  height: 180px;
  background-image: url(../img/offer-accesories.webp);
}

.filler {
  background-color: rgba(33, 22, 22, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer_header3 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer_header4 {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products {
  width: 1140px;
  margin: 96px auto 0px;
}

.products_header3 {
  color: #222;
  margin-bottom: 6px;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_subheader {
  color: #4D4D4D;
  margin-bottom: 48px;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: #fbfbfb;
  position: relative;
}

.card_image__selected {
  width: 360px;
  height: 420px;
  position: absolute;
  top: 0px;
  background-color: #4D4D4D;
  display: none;
  justify-content: center;
  align-items: center;
}

.card:hover .card_image__selected {
  display: flex;
}

.add-to-card-button {
  display: flex;
  align-items: center;
  gap: 11px;
  border-color: #fbfbfb;
  /* border-width: 2px; */
  background: none;
  padding: 11px 16px 13px 13px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_header {
  width: 315px;
  color: #000;
  margin: 20px 18px 0px;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card_text {
  width: 315px;
  color: #4D4D4D;
  margin: 13px 18px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card_price {
  width: 315px;
  color: #f16d7f;
  margin: 18px 18px 20px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse_all_button {
  width: 212px;
  margin-top: 48px;
  margin-bottom: 60px;
  border: 2px solid #f16d7f;
  background-color: #fbfbfb;
}

.browse_all_button:hover {
  background-color: #f16d7f;
}

.browse_all_button_text {
  margin: 15px auto;
  color: #f16d7f;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse_all_button:hover .browse_all_button_text {
  color: #fbfbfb;
}

.feature {
  width: 1600px;
  margin: 0px auto;
  background-color: #222;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature-item {
  width: 360px;
  margin: 103px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-item__header {
  margin-top: 28px;
  margin-bottom: 16px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature-item__text {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subscribe {
  width: 1600px;
  height: 447px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.subscribe-background {
  width: 100%;
  height: 100%;
  opacity: 30%;
  background-color: #fbfbfb;
  position: absolute;
  z-index: -1;
}

.subscribe-info {
  width: 360px;
  margin-top: 97px;
  margin-bottom: 126px;
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-info__image {
  margin-right: 16px;
  width: 96px;
  height: 96px;
}

.subscribe-info_text {
  margin-top: 30px;
  height: 99px;
  color: #4D4D4D;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-info_text__italic {
  font-style: italic;
}

.subscribe-buttongroup {
  width: 557px;
  margin-top: 150px;
  margin-right: 230px;
  margin-bottom: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-buttongroup_h3 {
  color: #222;
  text-align: center;
  height: 28px;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.subscribe-buttongroup_p {
  color: #222;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.subscribe-buttongroup_form {
  margin-top: 33px;
}

.subscribe-buttongroup__input {
  width: 238px;
  height: 49px;
  border-radius: 25px 0px 0px 25px;
  border: none;
  padding-left: 22px;
  background-color: #fbfbfb;
  color: #fbfbfb;
  opacity: 0.671;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe-buttongroup_button {
  width: 100px;
  height: 49px;
  margin-left: -5px;
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #f16d7f;
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #222;
}

.footer-text {
  margin: 30px auto 30px 235px;
  color: #fbfbfb;
  letter-spacing: 0.6px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_icons {
  margin: 24px 230px 23px auto;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.footer_icons-icon {
  height: 32px;
  width: 32px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_icons-icon:hover {
  background-color: #f16d7f;
}

.footer_icons-icon:hover svg {
  fill: #fbfbfb;
}

.breadcrumb {
  width: 1600px;
  margin: 0px auto;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
}
.breadcrumb_left_title {
  padding-top: 59px;
  padding-left: 230px;
  padding-bottom: 60px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumb_right_title {
  padding-top: 65px;
  padding-right: 235px;
  padding-bottom: 66px;
  color: #4D4D4D;
  letter-spacing: 0.2px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumb_right_title_span {
  color: #f16d7f;
  letter-spacing: 0.2px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image_slide {
  width: 1600px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  padding-top: 11px;
  padding-bottom: 42px;
  background-color: #fbfbfb;
}
.image_slide_img {
  margin-left: 23px;
}

.product_description {
  position: relative;
  width: 1141px;
  margin: 0px auto;
  height: 569px;
}
.product_description_container {
  width: 1141px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -65px;
}
.product_description_small_title {
  margin-top: 65px;
  color: #f16d7f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.product_description_divider {
  margin-top: 12px;
  width: 63px;
  height: 3px;
  background-color: #f16d7f;
}
.product_description_big_title {
  margin-top: 12px;
  margin-right: 2px;
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.product_description_text {
  margin-top: 48px;
  text-align: center;
  color: #4D4D4D;
  letter-spacing: -0.15px;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.product_description_price {
  margin-top: 32px;
  margin-right: 20px;
  text-align: center;
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}
.product_description_line {
  width: 642px;
  height: 1px;
  margin-top: 64px;
  background: #f16d7f;
  border: 1px solid #EAEAEA;
}
.product_description_selector {
  margin-top: 65px;
  margin-right: 20px;
  width: 373px;
  display: flex;
  justify-content: center;
  gap: 22px;
}
.product_description_selector_item {
  display: flex;
}
.product_description_selector_item_narrow {
  margin-top: 5px;
  margin-left: 9px;
}
.product_description_selector_item_text {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.product_description_button {
  margin-top: 48px;
  margin-bottom: 65px;
  width: 212px;
  height: 48px;
  border: 1px solid #f16d7f;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_description_button_logo {
  margin-top: 7px;
  margin-left: 21px;
}
.product_description_button_text {
  margin-right: 55px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}

.catalog_container {
  position: relative;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.filter {
  position: absolute;
  width: 1141px;
  margin-top: 37px;
  margin-left: 215px;
  display: flex;
  z-index: 1;
}
.filter_left {
  width: 390px;
}
.filter_left_details {
  width: 360px;
}
.filter_left_details[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter_left_summary {
  display: flex;
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 16px;
}
.filter_left_summary_text {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.filter_left_summary_logo {
  margin-top: 5px;
  margin-left: 11px;
}
.filter_left_content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 18px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 18px;
}
.filter_left_content_summary {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #EBEBEB;
  color: #4D4D4D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_left_content_summary::marker {
  display: none;
}
.filter_left_content_items {
  margin: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 11px;
}
.filter_left_content_item {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter_right {
  display: flex;
}
.filter_right_trending {
  width: 160px;
  margin-left: 5px;
}
.filter_right_size {
  width: 75px;
}
.filter_right_price {
  width: 80px;
}
.filter_right_details {
  background-color: #fbfbfb;
}
.filter_right_details[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter_right_summary {
  display: flex;
  padding-top: 13px;
  padding-left: 13px;
  padding-right: 13px;
}
.filter_right_summary_text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4D4D4D;
}
.filter_right_summary_logo {
  margin-top: 7px;
  margin-left: 10px;
}
.filter_right_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  padding-top: 7px;
  padding-bottom: 11px;
}
.filter_right_content_checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin: auto 13px;
}
.filter_right_content_checkbox_label {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #4D4D4D;
}
.filter_right_content_checkbox_container {
  display: flex;
}

.filter_left_details[open] summary p {
  color: #f16d7f;
}

.filter_left_details[open] summary svg path {
  fill: #f16d7f;
}

.filter_left_content_details[open] summary {
  color: #f16d7f;
}

.catalog_pagination {
  height: 182px;
}

.blank128 {
  height: 128px;
}

.blank132 {
  height: 132px;
}

.margin_top_none {
  margin-top: 0px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.body {
  scroll-behavior: smooth;
  background: #f16d7f;
}/*# sourceMappingURL=style.css.map */